<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0ed3cf" />

    <link rel="stylesheet" href="tailwind.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Self.Dev : Article</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="asset/ico/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="asset/ico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="asset/ico/favicon-16x16.png"
    />
    <link rel="manifest" href="asset/ico/site.webmanifest" />

    <link
      rel="canonical"
      href="https://tailwindcomponents.com/component/navbar-hamburger-menu"
      itemprop="URL"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

  <body class="bg-gray-100">
    <nav
      class="relative px-4 py-4 flex justify-between items-center bg-white sticky top-0 z-50 shadow-lg"
    >
      <a class="text-3xl font-bold leading-none" href="#">
        <img src="asset/img/selfdev2.png" width="100" />
      </a>
      <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-blue-600 p-3">
          <svg
            class="block h-4 w-4 fill-current"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
      <ul
        class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6"
      >
        <li>
          <a class="text-sm text-gray-400 hover:text-gray-500" href="index.html"
            >Home</a
          >
        </li>
        <li class="text-gray-300">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            class="w-4 h-4 current-fill"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
            ></path>
          </svg>
        </li>
        <li>
          <a class="text-sm text-gray-400 hover:text-gray-500" href="about.html"
            >About Us</a
          >
        </li>
        <li class="text-gray-300">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            class="w-4 h-4 current-fill"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
            ></path>
          </svg>
        </li>
        <li><a class="text-sm text-blue-600 font-bold" href="#">Article</a></li>
      </ul>
      <a
        class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold rounded-xl transition duration-200"
        href="#"
        >Sign In</a
      >
      <a
        class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200"
        href="#"
        >Sign up</a
      >
    </nav>
    <div class="navbar-menu relative z-50 hidden">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav
        class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
      >
        <div class="flex items-center mb-8">
          <a
            class="mr-auto text-3xl font-bold leading-none flex flex-row-reverse items-center justify-center"
            href="#"
          >
            <svg class="h-12" alt="logo" viewBox="0 0 10240 10240">
              <img src="asset/img/selfdev2.png" width="100" alt="" />
            </svg>
          </a>
          <button class="navbar-close">
            <svg
              class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1">
              <a
                class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                href="index.html"
                >Home</a
              >
            </li>
            <li class="mb-1">
              <a
                class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                href="about.html"
                >About Us</a
              >
            </li>
            <li class="mb-1">
              <a
                class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                href="#"
                >Article</a
              >
            </li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6">
            <a
              class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl"
              href="#"
              >Sign in</a
            >
            <a
              class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700 rounded-xl"
              href="#"
              >Sign Up</a
            >
          </div>
          <p class="my-4 text-xs text-center text-gray-400">
            <span>Copyright © 2024</span>
          </p>
        </div>
      </nav>
    </div>

    <!-- MUALI ISI ARICLE PAGE DI SINI -->

    <!-- <div class="container mx-auto px-6 py-16 text-center">
    <div class="w-full max-w-full mb-8 px-4 flex flex-row text-left min-w-full ">
          <div class="flex flex-row justify-between  bg-white rounded-xl min-w-full">
            <img src="asset/img/placeholder.jpg" alt="Card img" class="object-cover object-center w-50 h-48 rounded-lg m-5">
            <div class="flex flex-col my-8">
                <div>
                    <a href="#" class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-blue-600">
                    Old School Art
                    </a>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, earum quae? Dolor fugit quos adipisci quaerat nihil, autem ab nemo, commodi veniam beatae provident quas ullam perspiciatis corporis doloremque perferendis, officia eos unde consequuntur facilis pariatur ipsa magnam eius. Commodi, possimus voluptas. Autem odio beatae veritatis dignissimos aut, eos laborum.
                    </p>
                </div>
            </div>              
        </div>
        
      </div>
</div> -->
    <article
      class="container mx-auto text-center bg-white rounded-xl p-2 my-4 shadow-lg md:px-20 md:my-10"
    >
      <h1 class="md:text-4xl text-2xl font-bold">
        Sharpening Your Skills: Strategies to advance your skill set
      </h1>
      <p class="md:text-1xl text-sm inline-block mx-1 my-5">Written by</p>
      <p class="md:text-base text-sm inline-block text-blue-600">Rico</p>
      <div class="flex-row flex justify-center">
        <img
          src="https://th.bing.com/th/id/OIP.dtn7FCTAbIiqTL3PccLBdgHaE1?w=259&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
          alt="Card img"
          class="object-cover object-center w-1/2"
        />
      </div>
      <div class="md:mx-10 mx-5 my-10 text-justify">
        <p>
          In today's ever-evolving world, possessing a sharp set of skills is
          crucial to achieving success and remaining relevant in your field.
          Whether you're just starting your career, looking to transition into a
          new path, or simply aiming to enhance your advancement opportunities,
          developing your skills is a valuable investment in yourself.
        </p>

        <h3 class="text-lg font-bold mt-5">
          What should be considered in developing your skill set?
        </h3>
        <ol class="mt-5 list-decimal font-semibold">
          <li class="mx-10 mb-2 text-base">
            Recognizing Your Strengths and Weaknesses
          </li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Commitment refers to the degree to which an individual is attached
              to the goal and their determination to reach it – even when faced
              with obstacles. Goal performance is strongest when people are
              committed, and even more so when said goals are difficult.
            </p>
          </div>
          <li class="mx-10 mb-2">Learn New, In-Demand Skills</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Specific goals put you on a direct course. When a goal is vague,
              it has limited motivational value. Goal clarity is positively
              related to overall motivation and satisfaction in the workplace.
              Set clear, precise and unambiguous goals that are implicit and can
              be measured. When a goal is clear in your mind, you have an
              improved understanding of the task at hand. You know exactly what
              is required and the resulting success is a further source of
              motivation.
            </p>
          </div>
          <li class="mx-10 mb-2">
            Enhance Existing Skills Through Training and Courses
          </li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Goals should be both challenging and achievable. When goals are
              demanding, they can enhance performance by boosting
              self-satisfaction and motivating us to develop effective
              strategies to maximize our abilities. However, if goals exceed our
              capability, they may result in dissatisfaction and frustration.
            </p>
          </div>
          <li class="mx-10 mb-2">
            Make the Most of Learning Experiences Wherever You Are
          </li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Miner argued that overly complex tasks can diminish the
              effectiveness of goal-setting. When goals are too complicated and
              beyond our skill level, they can become overwhelming, leading to
              decreased morale, productivity, and motivation. The timeline for
              achieving these goals should be realistic. Providing enough time
              to work towards a goal allows for reassessment of its complexity
              and the opportunity to review and enhance performance. Even highly
              motivated individuals can become discouraged if the task is too
              complex for their abilities.
            </p>
          </div>
          <li class="mx-10 mb-2">Building a Network Relevant to Your Field</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Goal setting is more effective with immediate feedback, as it
              helps assess progress and goal attainment. Clear feedback allows
              for adjustments if performance falls short, enabling the setting
              of more achievable goals. Delayed feedback hampers timely
              evaluation and strategy effectiveness, slowing progress.
              Perceiving adequate progress boosts confidence in learning new
              skills and setting more challenging goals.
            </p>
          </div>
          <li class="mx-10 mb-2">Stay Updated with Industry Trends</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              The world of work is constantly evolving, and it's important to
              stay abreast of the latest trends in your field. Read industry
              articles, follow blogs and influencers, and attend conferences to
              stay informed about the latest developments. This will help you
              remain relevant and competitive in the job market
            </p>
          </div>
        </ol>
        <h3 class="text-lg font-bold mt-5">
          Additional Explanation and Tips for Sharpening Your Skills
        </h3>
        <ol class="mt-5 list-decimal font-semibold">
          <li class="mx-10 mb-2 text-base">
            The Importance of Having Transferable Skills
          </li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Transferable skills are those that can be applied across various
              industries or jobs. Developing transferable skills will make it
              easier for you to adapt to changes in the job market and open up
              broader career opportunities.
            </p>
          </div>
          <li class="mx-10 mb-2">Learning from Failure</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Failure is a natural part of the learning process. Don't be
              discouraged if you experience setbacks. Instead, view failure as
              an opportunity to learn and grow.
            </p>
          </div>
          <li class="mx-10 mb-2">Staying Motivated</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Developing skills takes time and effort. Stay motivated by setting
              clear goals, tracking your progress, and celebrating your
              achievements.
            </p>
          </div>
          <li class="mx-10 mb-2">Seek a Mentor</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              A mentor can provide guidance and support as you work to develop
              your skills.
            </p>
          </div>
          <li class="mx-10 mb-2">Utilize Online Resources</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              There are many free and paid online resources available to help
              you learn new skills. Take advantage of tutorials, videos, and
              online courses to enhance your knowledge and skills.
            </p>
          </div>
          <li class="mx-10 mb-2">Be Proactive</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Don't wait for opportunities to come to you. Take the initiative
              to seek out learning and self-development opportunities.
            </p>
          </div>
          <li class="mx-10 mb-2">Have Confidence in Your Abilities</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Believe in yourself and your ability to learn and grow. A positive
              attitude will help you achieve your goals.
            </p>
          </div>
        </ol>
        <h3 class="text-lg font-bold mt-5">Additional Tips</h3>
        <ol class="mt-5 list-decimal font-semibold">
          <li class="mx-10 mb-2">Make a list of skills you want to develop.</li>
          <li class="mx-10 mb-2">Set a budget for your skill development.</li>
          <li class="mx-10 mb-2">Schedule time for learning and practice.</li>
          <li class="mx-10 mb-2">Join online communities or study groups.</li>
          <li class="mx-10 mb-2">Attend workshops and conferences.</li>
          <li class="mx-10 mb-2">
            Read books and articles on skill development.
          </li>
          <li class="mx-10 mb-2">Practice your skills regularly.</li>
          <li class="mx-10 mb-2">Seek feedback from others.</li>
          <li class="mx-10 mb-2">Celebrate your successes.</li>
        </ol>
      </div>
    </article>

    <!-- Comment Sectiont -->
    <div class="bg-gray-100 p-6">
      <h2 class="text-lg font-bold mb-4">Comments</h2>

      <!-- Sample Comment Below -->

      <div class="flex flex-col space-y-4">
        <!-- <div class="bg-white p-4 rounded-lg shadow-md">
            <h3 class="text-lg font-bold">John Doe</h3>
            <p class="text-gray-700 text-sm mb-2">Posted on April 17, 2023</p>
            <p class="text-gray-700">This is a sample comment. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="bg-white p-4 rounded-lg shadow-md">
            <h3 class="text-lg font-bold">Jane Smith</h3>
            <p class="text-gray-700 text-sm mb-2">Posted on April 16, 2023</p>
            <p class="text-gray-700">I agree with John. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div> -->
        <div class="bg-white p-4 rounded-lg shadow-md">
          <h3 class="text-lg font-bold">Bob Johnson</h3>
          <p class="text-gray-700 text-sm mb-2">Posted on April 15, 2023</p>
          <p class="text-gray-700">
            I have a different opinion. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
        <form class="bg-white p-4 rounded-lg shadow-md">
          <h3 class="text-lg font-bold mb-2">Add a comment</h3>

          <!-- name input in comment section -->

          <!-- <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="name">
                    Name
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="name" type="text" placeholder="Enter your name">
            </div> -->
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="comment">
              Comment
            </label>
            <textarea
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="comment"
              rows="3"
              placeholder="Enter your comment"
            ></textarea>
          </div>
          <button
            class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>

    <!-- Foooter -->
    <section class="bg-white">
      <div
        class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
      >
        <nav class="flex flex-wrap justify-center -mx-5 -my-2">
          <div class="px-5 py-2">
            <a
              href="index.html"
              class="text-base leading-6 text-gray-500 hover:text-blue-900"
            >
              Home
            </a>
          </div>
          <div class="px-5 py-2">
            <a
              href="about.html"
              class="text-base leading-6 text-gray-500 hover:text-blue-900"
            >
              About us
            </a>
          </div>
          <div class="px-5 py-2">
            <a
              href="#"
              class="text-base leading-6 text-gray-500 hover:text-blue-900"
            >
              Article
            </a>
          </div>
        </nav>
        <div class="flex justify-center mt-8 space-x-6">
          <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Github</span>
            <img src="asset/img/selfdev2.png" width="100" alt="" />
          </a>
        </div>
        <p class="mt-8 text-base leading-6 text-center text-gray-400">
          © 2024 Self.dev. All rights reserved.
        </p>
      </div>
    </section>

    <script>
      // Burger menus
      document.addEventListener("DOMContentLoaded", function () {
        // open
        const burger = document.querySelectorAll(".navbar-burger");
        const menu = document.querySelectorAll(".navbar-menu");

        if (burger.length && menu.length) {
          for (var i = 0; i < burger.length; i++) {
            burger[i].addEventListener("click", function () {
              for (var j = 0; j < menu.length; j++) {
                menu[j].classList.toggle("hidden");
              }
            });
          }
        }

        // close
        const close = document.querySelectorAll(".navbar-close");
        const backdrop = document.querySelectorAll(".navbar-backdrop");

        if (close.length) {
          for (var i = 0; i < close.length; i++) {
            close[i].addEventListener("click", function () {
              for (var j = 0; j < menu.length; j++) {
                menu[j].classList.toggle("hidden");
              }
            });
          }
        }

        if (backdrop.length) {
          for (var i = 0; i < backdrop.length; i++) {
            backdrop[i].addEventListener("click", function () {
              for (var j = 0; j < menu.length; j++) {
                menu[j].classList.toggle("hidden");
              }
            });
          }
        }
      });
    </script>
  </body>
</html>
