<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0ed3cf" />

  <link rel="stylesheet" href="tailwind.css" />
  <link rel="stylesheet" href="style.css" />
  <title>Self.Dev : Article</title>

  <link rel="apple-touch-icon" sizes="180x180" href="asset/ico/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="asset/ico/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="asset/ico/favicon-16x16.png" />
  <link rel="manifest" href="asset/ico/site.webmanifest" />

  <link rel="canonical" href="https://tailwindcomponents.com/component/navbar-hamburger-menu" itemprop="URL" />

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body class="bg-gray-100">
  <%- include('../partials/nav.ejs') %>

    <!-- MUALI ISI ARICLE PAGE DI SINI -->

    <!-- <div class="container mx-auto px-6 py-16 text-center">
    <div class="w-full max-w-full mb-8 px-4 flex flex-row text-left min-w-full ">
          <div class="flex flex-row justify-between  bg-white rounded-xl min-w-full">
            <img src="asset/img/placeholder.jpg" alt="Card img" class="object-cover object-center w-50 h-48 rounded-lg m-5">
            <div class="flex flex-col my-8">
                <div>
                    <a href="#" class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-blue-600">
                    Old School Art
                    </a>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, earum quae? Dolor fugit quos adipisci quaerat nihil, autem ab nemo, commodi veniam beatae provident quas ullam perspiciatis corporis doloremque perferendis, officia eos unde consequuntur facilis pariatur ipsa magnam eius. Commodi, possimus voluptas. Autem odio beatae veritatis dignissimos aut, eos laborum.
                    </p>
                </div>
            </div>              
        </div>
        
      </div>
</div> -->
    <article class="container mx-auto text-center bg-white rounded-xl p-2 my-4 shadow-lg md:px-20 md:my-10">
      <h1 class="md:text-4xl text-2xl font-bold">Set Your Personal Goals</h1>
      <p class="md:text-1xl text-sm inline-block mx-1 my-5">Written by</p>
      <p class="md:text-base text-sm inline-block text-blue-600">Rico</p>
      <div class="flex-row flex justify-center">
        <img src="https://th.bing.com/th/id/OIP.Dmu9RuKYravOvMbGTTNe9gHaE8?w=276&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7"
          alt="Card img" class="object-cover object-center w-1/2" />
      </div>
      <div class="md:mx-10 mx-5 my-10 text-justify">
        <p>
          Setting personal development goals can be a highly effective and less
          stressful way to foster emotional and intellectual growth. By
          establishing these goals, you can achieve success in areas that matter
          to you, streamline your life, reduce stress, and expedite your journey
          to becoming your true self. Additionally, goal-setting helps maintain
          mental sharpness, a key trait of lifelong learners
        </p>

        <h3 class="text-lg font-bold mt-5">Key Principles of Goal Setting</h3>
        <ol class="mt-5 list-decimal font-semibold">
          <li class="mx-10 mb-2 text-base">Commitment</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Commitment refers to the degree to which an individual is attached
              to the goal and their determination to reach it – even when faced
              with obstacles. Goal performance is strongest when people are
              committed, and even more so when said goals are difficult.
            </p>
          </div>
          <li class="mx-10 mb-2">Clarity</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Specific goals put you on a direct course. When a goal is vague,
              it has limited motivational value. Goal clarity is positively
              related to overall motivation and satisfaction in the workplace.
              Set clear, precise and unambiguous goals that are implicit and can
              be measured. When a goal is clear in your mind, you have an
              improved understanding of the task at hand. You know exactly what
              is required and the resulting success is a further source of
              motivation.
            </p>
          </div>
          <li class="mx-10 mb-2">Challenging</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Goals should be both challenging and achievable. When goals are
              demanding, they can enhance performance by boosting
              self-satisfaction and motivating us to develop effective
              strategies to maximize our abilities. However, if goals exceed our
              capability, they may result in dissatisfaction and frustration.
            </p>

            <p class="mb-2">
              We are driven by both the accomplishment and the expectation of
              success. When we believe that a challenging goal is within our
              reach, we are more likely to feel motivated to achieve it.
            </p>
          </div>
          <li class="mx-10 mb-2">Task Complexity</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Miner argued that overly complex tasks can diminish the
              effectiveness of goal-setting. When goals are too complicated and
              beyond our skill level, they can become overwhelming, leading to
              decreased morale, productivity, and motivation. The timeline for
              achieving these goals should be realistic. Providing enough time
              to work towards a goal allows for reassessment of its complexity
              and the opportunity to review and enhance performance. Even highly
              motivated individuals can become discouraged if the task is too
              complex for their abilities.
            </p>
          </div>
          <li class="mx-10 mb-2">Feedback</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Goal setting is more effective with immediate feedback, as it
              helps assess progress and goal attainment. Clear feedback allows
              for adjustments if performance falls short, enabling the setting
              of more achievable goals. Delayed feedback hampers timely
              evaluation and strategy effectiveness, slowing progress.
              Perceiving adequate progress boosts confidence in learning new
              skills and setting more challenging goals.
            </p>
          </div>
        </ol>
        <h3 class="text-lg font-bold mt-5">How to Maintain Your Goals</h3>
        <ol class="mt-5 list-decimal font-semibold">
          <li class="mx-10 mb-2">
            Set Specific and Challenging Goals: Start by setting specific and
            challenging goals. This helps you have a clear direction and
            provides extra motivation to achieve them.
          </li>
          <li class="mx-10 mb-2">
            Seek Support and Encouragement: Find sources of support and
            encouragement, whether from friends, family, or professionals.
            Getting support from others can help you stay motivated when facing
            challenges.
          </li>
          <li class="mx-10 mb-2">
            Create Detailed Action Plans: Create a detailed action plan to
            achieve your goals. Determine the concrete steps you need to take
            and set deadlines for each step.
          </li>
          <li class="mx-10 mb-2">
            Regularly Evaluate and Refine: Regularly evaluate your progress and
            identify areas where you can improve. Adjust your action plan as
            needed and continuously improve your strategies.
          </li>
          <li class="mx-10 mb-2">
            Take Good Care of Yourself: Pay attention to your physical and
            mental health as you work towards your goals. Sufficient rest,
            exercise, and maintaining a healthy work-life balance are crucial
            for maintaining consistency and motivation.
          </li>
          <li class="mx-10 mb-2">
            Reward yourself in any progress: Don't forget to celebrate every
            achievement, big or small. This helps you maintain enthusiasm and
            boosts your confidence.
          </li>
        </ol>
        <h3 class="text-lg font-bold mt-5">
          Benefits of Setting Personal Goals
        </h3>
        <ol class="mt-5 list-decimal font-semibold">
          <li class="mx-10 mb-2">
            Provides direction and focus: Personal goals help you determine what
            you want to achieve, keeping you focused and motivated.
          </li>
          <li class="mx-10 mb-2">
            Enhances sense of accomplishment: Achieving your goals brings
            satisfaction and a sense of accomplishment, boosting your confidence
            and encouraging you to set higher goals.
          </li>
          <li class="mx-10 mb-2">
            Promotes self-development: Working towards your goals allows you to
            learn new skills and knowledge, and develop qualities like
            discipline, perseverance, and resilience.
          </li>
        </ol>
        <h3 class="text-lg font-bold mt-5">
          What skills does it requires on setting your goals
        </h3>
        <ol class="mt-5 list-decimal font-semibold">
          <li class="mx-10 mb-2 text-base">Planning</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Planning and organizational skills are integral to the goal
              achievement process. Through proper planning, we can prioritize
              and maintain focus on the task at hand, while avoiding extraneous
              distractions that can draw us away from the end goal
            </p>
          </div>
          <li class="mx-10 mb-2">Self-motivation</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Motivation to achieve a goal encourages us to develop new
              techniques and skills in order to succeed
            </p>
          </div>
          <li class="mx-10 mb-2">Time management</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Time management is required to successfully accomplish a goal. If
              we do not properly consider the timescale required to attain a
              goal, we will inevitably fail.
            </p>
          </div>
          <li class="mx-10 mb-2">Flexibility</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              Having the flexibility to adapt to barriers, the perseverance to
              sustain your efforts and to carry on in the face of adversity is
              essential to reaching your goal.
            </p>
          </div>
          <li class="mx-10 mb-2">Self-regulation</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              An individual needs to regulate and manage their own emotions in
              order to promote their own personal and social goals. With
              developed Emotional Intelligence comes the ability to efficiently
              consider and describe motivational goals, aims, and missions.
            </p>
          </div>
          <li class="mx-10 mb-2">Commitment and focus</li>
          <div class="mx-10 mb-5 font-normal text-sm">
            <p class="mb-2">
              It is imperative that goals are important and relevant on a
              personal level, and that we know we are capable of attaining, or
              at the very least making substantial progress towards, a goal.
            </p>
          </div>
        </ol>
        <h3 class="text-lg font-bold mt-5">
          7 tips to keep in mind while setting your goals
        </h3>
        <ol class="mt-5 list-decimal font-semibold">
          <li class="mx-10 mb-2">Brainstorm</li>
          <li class="mx-10 mb-2">Create a ‘goal-tree’</li>
          <li class="mx-10 mb-2">Be optimistic but realistic</li>
          <li class="mx-10 mb-2">Evaluate your goals and reflect upon them</li>
          <li class="mx-10 mb-2">Intermittent reinforcement</li>
          <li class="mx-10 mb-2">
            Sharing session with your friends about your goals
          </li>
          <li class="mx-10 mb-2">Believe in yourself</li>
        </ol>
      </div>
    </article>

    <!-- Comment Sectiont -->
    <div class="bg-gray-100 p-6">
      <h2 class="text-lg font-bold mb-4">Comments</h2>

      <!-- Sample Comment Below -->

      <%- include("../partials/comment") %>
    </div>

    <%- include("../partials/footer") %>

      <script>
        // Burger menus
        document.addEventListener("DOMContentLoaded", function () {
          // open
          const burger = document.querySelectorAll(".navbar-burger");
          const menu = document.querySelectorAll(".navbar-menu");

          if (burger.length && menu.length) {
            for (var i = 0; i < burger.length; i++) {
              burger[i].addEventListener("click", function () {
                for (var j = 0; j < menu.length; j++) {
                  menu[j].classList.toggle("hidden");
                }
              });
            }
          }

          // close
          const close = document.querySelectorAll(".navbar-close");
          const backdrop = document.querySelectorAll(".navbar-backdrop");

          if (close.length) {
            for (var i = 0; i < close.length; i++) {
              close[i].addEventListener("click", function () {
                for (var j = 0; j < menu.length; j++) {
                  menu[j].classList.toggle("hidden");
                }
              });
            }
          }

          if (backdrop.length) {
            for (var i = 0; i < backdrop.length; i++) {
              backdrop[i].addEventListener("click", function () {
                for (var j = 0; j < menu.length; j++) {
                  menu[j].classList.toggle("hidden");
                }
              });
            }
          }
        });
      </script>
</body>

</html>